.lista-de-gatos {color:rgb(38, 107, 255)}

h1 {
    }
h1 { font-size: 150px;
  font-family: 'Pacifico', cursive; 
}
h2 { font-size: 45px;
  font-family: 'Orbitron', sans-serif;
}
h3 {font-size: 45px; font-family: 'Orbitron', sans-serif;}

p,
ul,
ol {
  font-size: 35px;
}

li {
color:#09a082;
font-size:30px;
}

img {
  width: none;
}

.bordes-redondeados {
  border-radius: 80%;
  border-width: 5px;
  border-style: solid;
  border-color: rgb(64, 67, 67);
}

body {
  background:#09a082;
}
z {
  font-size: 20px;
}

input,
label,
button {
  font-size: 30px;

}
